<div class = "main_design">
<h1>MATH QUIZ</h1>
<p>Welcome to our math quiz! Good luck!</p>
<br>
<%= link_to "Go to Addition Task", math_calculations_addition_path %>
<br>
<%= link_to "Go to Subtraction Task", math_calculations_subtraction_path %>
<br>
<%= link_to "Go to Division Task", math_calculations_division_path %>
<br>
<%= link_to "Go to Multiplication Task", math_calculations_multiplication_path %>
<br>
<%= link_to "Go to Pythagoras Theorem Task", math_calculations_pythagoras_theorem_path %>
</div>