<div class="math_multiplication">
<h1>MULTIPLICATION</h1>
<p>Select the correct answer!</p>
<p><%= @first %> * <%= @second %> =</p>
<br>
<%= button_to @resultFake1, check_incorrect_path, method: :post %>
<br>
<%= button_to @resultFake2, check_incorrect_path, method: :post %>
<br>
<%= button_to @result, check_correct_path, method: :post %>
<br>
<%= button_to @resultFake3, check_incorrect_path, method: :post %>
</div>